# Python
__pycache__/
*.pyc
venv/
venvp/
# VS Code
.vscode/

# Data
data/
*.xml
*.csv

# Model checkpoints
*.pt
reviewOps/backend/models/artifacts/acd_model/*.json
reviewOps/backend/models/artifacts/acd_model/*.safetensors
models/**/outputs/


# OS
.DS_Store
Thumbs.db
.env
